div{
    height:900px ;
    width: 1500px;
    background-color: red;
    border: 2px solid black;
}
.col{
    height: 300px;
    width: 156px;
    background-color: yellow;
    position: absolute;
    top: 56px;
}
.col-1{
    left: 214px;
background-color: green;
}
.col-2{
    left: 420px;
background-color: rgb(0, 19, 128);
}
.col-3{
    left: 628px;
background-color: rgb(128, 0, 0);
}
.col-4{
    left: 850px;
background-color: rgb(0, 64, 128);
}